* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #132b50;
  transition: 1s; }

::selection {
  background-color: #132b50;
  color: #fff; }

.container, .content .header, .content .profile, .content .password .footer-form, .content .password .footer-form .staysigned-container {
  display: flex;
  align-items: center; }

.container {
  justify-content: center;
  background-color: #1413501a;
  height: 100vh; }
  .container .box {
    border-radius: 1rem;
    background-color: #fff; }

.dark-container {
  background-color: #292929; }

.container .dark-box {
  background-color: #132b50; }
  .container .dark-box ::selection {
    background-color: #fff;
    color: #132b50; }
  .container .dark-box *:not(input) {
    color: #fff; }
  .container .dark-box input:not(#cb-ss):focus {
    box-shadow: 1px 1px 10px 1px #fff !important; }
  .container .dark-box .content .password .footer-form #cb-ss:checked::before {
    left: 30px;
    background-color: #fff; }
  .container .dark-box .content .password .footer-form #cb-ss:checked {
    border-color: #fff; }
  .container .dark-box button {
    background-color: #fff !important;
    color: #132b50 !important; }
    .container .dark-box button:hover {
      background-color: #132b50 !important;
      color: #fff !important;
      box-shadow: 1px 1px 10px 1px #fff !important; }

.content {
  padding: 3.125rem; }
  .content .header {
    justify-content: space-between; }
    .content .header .title {
      font-size: 1.4rem; }
    .content .header img {
      width: 25px;
      height: 25px;
      cursor: pointer; }
  .content .profile {
    gap: 1rem;
    margin: 2rem 0; }
    .content .profile img {
      width: 80px;
      height: 80px;
      border: 2px solid;
      border-radius: 50%; }
    .content .profile div h3 {
      font-weight: 500;
      font-size: 0.625rem; }
    .content .profile div h2 {
      font-size: 1.125rem; }
  .content .password {
    display: flex; }
    .content .password label {
      font-weight: 600; }
    .content .password .input {
      display: flex;
      position: relative; }
      .content .password .input img:nth-child(2) {
        position: absolute;
        top: 1.1875rem;
        left: 0.9375rem; }
      .content .password .input input {
        padding: 1rem 3rem;
        border-radius: 0.5rem;
        border: 2px solid;
        outline: 0;
        margin: 0.5rem 1rem 0 0; }
        .content .password .input input:focus {
          box-shadow: 1px 1px 10px 1px #000; }
    .content .password .footer-form {
      justify-content: space-between;
      width: 280px;
      margin: 32px 0;
      height: 60px; }
      .content .password .footer-form .staysigned-container {
        gap: 0.5rem; }
        .content .password .footer-form .staysigned-container #cb-ss {
          width: 60px;
          height: 36px;
          appearance: none;
          border: 2px solid #99a9c2;
          border-radius: 100px;
          position: relative;
          cursor: pointer; }
          .content .password .footer-form .staysigned-container #cb-ss::before {
            content: "";
            display: block;
            position: absolute;
            width: 22px;
            height: 22px;
            background-color: #99a9c2;
            top: 5px;
            left: 5px;
            border-radius: 50%;
            transition: 0.5s; }
          .content .password .footer-form .staysigned-container #cb-ss:checked::before {
            left: 30px;
            background-color: #132b50; }
          .content .password .footer-form .staysigned-container #cb-ss:checked {
            border-color: #132b50; }
        .content .password .footer-form .staysigned-container p {
          font-weight: 700;
          font-size: 0.75rem; }
      .content .password .footer-form button {
        background-color: #132b50;
        padding: 0.9rem;
        color: #fff;
        cursor: pointer;
        border-radius: 0.5rem;
        border: none;
        transition: 0.5s;
        font-weight: bolder; }
        .content .password .footer-form button:hover {
          background: none;
          box-shadow: 1px 1px 10px 1px #132b50;
          color: #132b50; }
    .content .password a {
      text-decoration: none;
      font-weight: 600; }
